*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Compiled files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE files
.idea/
*.iml
.gradle/
local.properties

# Gradle files
/.gradle/
build/
buildSrc/

# Kotlin-specific
*.kotlin_builtins
*.kotlin_module
*.kotlin_cache/
*.kt_strings.xml

